<div class="content-about">
  <div class="jumbotron jumbotron-fluid animated fadeIn mt-3 ">
  <div class="container">
    <div class="img-about">
    <img src="assets/img/bl-letras.png" alt="" width="300">
    <a class="mt-3" href="http://borisdev.com">www.borisdev.com</a>
    </div>
    <h4 class="mt-2">Test Empleo - Gueno Challenge</h4>

    <p class="lead"><b class="p-about">Backend: </b>Para el desarrollo del backend utilice Nodejs y express, mediante peticiones Http hacia la Api de Gueno obtuve los datos para que luego puedan ser usados por el frontend mediante endpoints. <i class="fab fa-node-js"></i></p>
    <p class="lead"><b class="p-about">GitHub: </b><a href="https://github.com/borizz1414/backend_gueno" target="_blank" class="btn btn-primary">Ver codigo <i class="fab fa-github"></i></a></p>
    <p class="lead"><b class="p-about">Backend Api: </b><a href="https://backend-gueno.herokuapp.com/api" target="_blank"class="btn btn-success">Ir <i class="fas fa-cloud"></i></a></p>

    <hr>
    <p class="lead"><b class="p-about"> Frontend: </b>Para el desarrollo del frontend utilice Angular, mediante servicios pude realizar peticiones Http hacia el backend creado anteriormente para obtener los datos y ser mostrado en la vista. <i class="fab fa-angular"></i></p>
  <p class="lead"><b class="p-about">GitHub: </b><a href="https://github.com/borizz1414/frontend_gueno" target="_blank" class="btn btn-primary">Ver
      codigo <i class="fab fa-github"></i></a></p>
  </div>
</div>
</div>

