<div class="row">
  <div class="col-sm-12 col-md-12">
    <div class="col d-flex  justify-content-center">
      <h2>Ingresar DNI</h2>
    </div>
<div class="col d-flex  justify-content-center mt-3">
<form  #formDni="ngForm" id="form-dni" (ngSubmit)="OnSubmit(formDni)">

  <input type="number" min="0" id="input_dni" class="form-control" name="dni"  #cuit="ngModel" [(ngModel)]='id' placeholder="Introduzca su DNI" required>
<input type="submit" value="Buscar" class="btn btn-primary" [disabled]="!formDni.form.valid">
</form>
</div>
<div class="load animated fadeIn" *ngIf="load">
  <div class="lds-dual-ring"></div>
  <b>Buscando...</b>
</div>
  </div>


</div>


<!-- Card -->
<div class="card weather-card animated fadeIn" *ngIf="status">

  <!-- Card content -->
  <div class="card-body pb-3">

    <!-- Title -->

   <h4 class="card-title font-weight-bold">{{user.name}} {{ user.surname}}</h4>
    <!-- Text -->
    <p class="card-text "><i class="font-weight-bold">Birthday:</i> {{user.birthday | date:'dd'}} <span>de</span> {{user.birthday | date:'LLLL'}} <span>de</span> {{user.birthday | date:'y'}}</p>
    <p class="card-text "><i class="font-weight-bold">Confidence:</i> {{user.confidence}}
    <p class="card-text "><i class="font-weight-bold">Scoring:</i> {{user.approved}}








  </div>

</div>
<!-- Card -->
