/* You can add global styles to this file, and also import other style files */
html {
  min-height: 100%;
position: relative;

}
body{
  font-family:  'Muli-VariableFont_wght';
background: #f5f5f5;
padding: 0;

}
@font-face {
  font-family: 'Muli-VariableFont_wght';
  src: url('assets/Muli-VariableFont_wght.ttf');

}
.active{
  border-bottom: 1px solid white;
    transition: 3s;
}
footer{

  position: absolute;
  bottom: 0;
  width: 100%;
  display:flex;
  justify-content: center;
  height: 40px;
  color: #444;
  margin-top: 20%;




}
.card-dni{

  top: 70px;
  padding: 20px;

}
.content-about{

        margin-bottom: 60px;
        height: 30vh;
    background: #3f51b5;
}
.card-body-dni{
  background: white;
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  padding: 15px;
}
.img-about{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.content-body{
  background: #3F51B5;
  max-height: 30vh;
}
.card-about{
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  pad: 20px;
}
.jumbotron{
      border: 4px solid #444;
    border-radius: 15px;
      box-shadow: 0px 4px 8px -4px rgba(0,0,0,0.75);
}
.p-about{
  font-weight: 600;
}
.navbar{
   background: #3F51B5!important;
   box-shadow: 0px 0;

}
 .form-control:invalid {
 background-image: linear-gradient(0deg,#3f51b5 2px,rgba(213,0,0,0) 0),linear-gradient(0deg,rgba(0,0,0,.26) 1px,transparent 0);

}
.form-control{
  background-image:  linear-gradient(0deg,#3f51b5 2px,rgba(213,0,0,0) 0),linear-gradient(0deg,rgba(0,0,0,.26) 1px,transparent 0);
}
.nav-link a{
  color:white;
}
#label-input{
  display: flex;
    align-items: center;
}
#label-input>i{
  font-size: 18px;

}
#alert{
  width: 350px;
}
.card-alert{
  display: flex;
  justify-content: center;
}
.card-user{

  width: 350px;
  background: gainsboro;


}
#x-icon,#check-icon,#alert{
   display: none;
}
.lead{
  text-align:justify;
}

#form-dni{
      width: 59%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    align-content: space-around;
    height: 120px;
}
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.fast {
  -webkit-animation-duration: 0.4s;
  animation-duration: 0.4s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  animation-name: fadeIn;
}
.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #000;
  border-color: #000 transparent #000 transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.load{
  display: flex;
    flex-direction: column;
    align-items: center;
}



